@page
@model Lab_Project.Pages.Students.ProfileModel
@{
}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4" style=" width: 350px;background-color: #efefef;border: none;cursor: pointer;transition: all 0.5s;">
        <div class="image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary">
                <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" style="transition: all 0.5s" />
            </button>
            <span class="name mt-3">Sarah Yasser</span>
       
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                s-Sarah335
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                Active Projects :   <span style="color:lawngreen">5</span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                Completed Projects :   <span style="color:lawngreen">5</span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                Archived Projects :   <span style="color:lawngreen">5</span>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                Current Teams :   <br /> <span style="color:red">The eagels</span><span style="color:red">, The worriors</span>
            </div>
          @*   <div class="d-flex mt-2">
                <button class="btn1 btn-dark">Edit Profile</button>
            </div> *@
           
            <div class="px-2 rounded mt-4 date">
                <span class="join" style="font-size: 14px; color: #a0a0a0; font-weight: bold">Joined May, 2021</span>
            </div>
        </div>
    </div>
</div>