html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-outline-custom {
    color: #12cad6;
    background-color: #ffffff; /* Background color */
    border-color: #12cad6; /* Border color */
}

.btn-outline-custom:hover {
    color: #ffffff; /* Text color on hover */
    background-color: #12cad6; /* Background color on hover */
    border-color: #12cad6; /* Border color on hover */
}
