@page
@model Lab_Project.Pages.Admin.CreateUsersModel
@{
}

<div class="text-center" style="max-width: 500px; margin: 100px auto; padding: 20px; background-color: white; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2 style="margin-bottom: 20px;">Sign Up</h2>
    <form>
        <div class="form-group mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control mb-2" id="name" placeholder="Enter name..." required>
        </div>

        <div class="form-group mb-3">
            <label for="username">Username</label>
            <input type="text" class="form-control mb-2" id="username" placeholder="Enter Username..." required>
        </div>

        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control mb-2" id="email" placeholder="Enter email..." required>
        </div>

        <div class="form-group mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control mb-2" id="password" placeholder="Enter password..." required>
        </div>

        <div class="form-group mb-3">
            <label for="conf_password">Confirm Password</label>
            <input type="password" class="form-control mb-2" id="conf_password" placeholder="Confirm password..." required>
        </div>

        <div class="form-group mb-3">
            <label for="student" style="margin-right: 10px;">Student</label>
            <input type="radio" id="student" name="role">
            <label for="advisor" style="margin-right: 10px; margin-left: 20px;">Advisor</label>
            <input type="radio" id="advisor" name="role">
            <label for="admin" style="margin-right: 10px; margin-left: 20px;">Admin</label>
            <input type="radio" class="mb-3" id="admin" name="role">
        </div>

        <button type="submit" class="btn" style="background-color: #12cad6; color: white;">Submit</button>
    </form>
</div>

